fastapi==0.135.1
uvicorn==0.41.0
websockets==16.0
pyzmq==27.1.0
aiosqlite==0.22.1
pydantic==2.12.5
cachetools==7.0.4
boto3==1.42.65
python-dotenv==1.2.2
ultralytics==8.4.21
insightface==0.7.3
opencv-python==4.11.0.86
numpy==1.26.4
pillow==12.1.1
Jetson.GPIO==2.1.7; platform_machine=='aarch64'