[Unit]
Description=Audio Autostart (PulseAudio default sink + echo cancel)
After=pulseaudio.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash /opt/audio/setup-audio-autostart.sh
Environment=XDG_RUNTIME_DIR=/run/user/%U
Environment=PULSE_SERVER=unix:/run/user/%U/pulse/native
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
